[submodule "examples/server"]
	path = examples/server
	url = https://github.com/leewckk/go-kit-micro-service-example.git
[submodule "examples/client"]
	path = examples/client
	url = https://github.com/leewckk/go-kit-micro-client-example.git
[submodule "template/service"]
	path = template/service
	url = https://github.com/leewckk/go-kit-micro-service-template.git
[submodule "plugin/protoc-gen"]
	path = plugin/protoc-gen
	url = https://github.com/leewckk/protoc-gen-gokit-micro.git
